## Hi there 👋, My name is Waji!
#### I am working as a Kubernetes Administrator/Engineer 
#### Get in touch with me!
- Email: wajiwos14@gmail.com
- LinkedIn: www.linkedin.com/in/syedwaji

## Skills

- ✅ Docker & Kubernetes
- ✅ Linux
- ✅ AWS Cloud
- ✅ Terraform
- ✅ Ansible
- ✅ Python
- ✅ Django
- ✅ ArgoCD
- ✅ Prometheus & Grafana
  
## My Blogs from [dev.to](https://dev.to/waji97)

{{ template "article-table" .Articles }}
